<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>      
  </startup>
  
  <connectionStrings>
    <add name="exportApiCovid.ConnectionString" 
         connectionString="Data Source=192.168.0.8; Initial Catalog=Bazis; Persist Security Info=False; User ID=Bazis; Password=RhtvyTDF1V9f5#8; Connect Timeout=90000000;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <!--СЕРВЕР-->
    <!--Данные связи с сервером куда отправляем данные ПЦР-->    
    <!--Код нашего учреждения-->
    <add key="departNumber" value="100855"/>
    <!--Стартовый токен, нужен, что бы получать рабочий токен-->
    <add key="token" value="FC2869B3-1A3E-D92B-5719-8B700AA090C8"/>
    <!--Рабочий Адрес сервера-->
    <add key="url" value="https://covidresult.crie.ru"/>
    <!--Тестовый Адрес сервера-->
    <!--<add key="url" value="https://result.crie.ru"/>-->
    <!--С какого протокола начинаем отправлять данные-->
    <add key="startCodProtokol" value="247360"/>
    <!--Тестовых циклов, если 0, то выполняется всё доконца (в рабочем варианте должен стоять 0)-->
    <add key="forTest" value="0"/>
    <!--Сколько строк отправляем за один раз, максимум 50  (в рабочем варианте должен стоять 50)-->
    <add key="topRow" value="50"/>
    
    <!--ШАГИ-->
    <!--Шаги выполенния программы (выполняет указанный шаг и выходит, в рабочем варианте должен стоять PAKAGE)
          COUNT - Колличество записей
          TOKEN - Находим рабочий токен (включает COUNT)
          PAKAGE - Отправка данных (включает COUNT, TOKEN)
          STATUS_COUNT - Сколько статусов не проверенно (включает TOKEN)
          STATUS_NEW - Получение указанного количество статусов (включает TOKEN)
          STATUS_ORDER - Получение статусов с указанными кодами (включает TOKEN)-->
    <add key="stepOfProgram" value="PAKAGE"/>
    
    <!--Количество статусов которые нужно вернуть для Шага STATUS_NEW-->
    <add key="statusNewCount" value="500"/>
    <!--Коды для получения их статуса, для Шага STATUS_ORDER-->
    <add key="statusOrders" value="[&quot;241790&quot;, &quot;241791&quot;]"/>

    <!--КОНСОЛЬ-->
    <!--Закрывать консоль по нажатию любой клавиши - true, или закрывать автоматом - false-->
    <add key="closeConsoleKey" value="false"/>
    <!--Отображать отправленные данны в логах - true, не показывать - false (только для PAKAGE)-->
    <add key="visibleJsonPakage" value="false"/>
    
    <!--ПОЧТА-->
    <!--Отправляет либо ошибки и 1го числа каждого месяца сообщение о состоянии работы программы-->
    <!--Отправлять почтовые сообщения да - true, нет - false-->
    <add key="mailIs" value="true"/>
    <!--Техническая почта, от имени которого мы отправляем сообщения-->
    <add key="mailFrom" value="it@buzookod.ru"/>
    <!--Пароль от почты отправителя-->
    <!--ЗАМЕНИТЬ звездочки на ПАРОЛЬ почты!!! (для it@buzookod.ru это 3 стандартных линии на конце доллар)-->
    <add key="mailFromPassword" value="*****"/>  <!--перед отправкой на GitHub пароль поставить *****-->
    <!--Почта получатель-->
    <add key="mailTo" value="hukolenko@gmail.com"/>
    <!--SMTP сервер-->
    <add key="mailSmtp" value="smtp.mail.ru"/>
    <!--Порт SMTP сервера-->
    <add key="mailPort" value="2525"/>
  </appSettings> 
</configuration>